@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #1a66b3;
    font-size: 12px;
    font-family: Arial, 微软雅黑;
}

.on ul {
    display: none;
}

.on {
    width: 100px;
    border: 1px solid #e6e6e6;
    line-height: 20px;
    background: #fff;
}

a:hover {
    color: #ff2832;
}

.topDown li:hover {
    background: #f2f2f2;
    color: #000;
}

.xia {
    margin: 0px auto;
    width: 200px;
}

.top-m>li a {
    padding: 0 18px;
}

.top-m>li {
    line-height: 22px;
    padding-top: 5px;
}